<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="index.js" verb="*" modules="iisnode" resourceType="Unspecified" />
    </handlers>
	<iisnode loggingEnabled="true" logDirectory="log" devErrorsEnabled="true" watchedFiles="web.config;index.js" nodeProcessCommandLine="C:\Program Files\nodejs\node.exe" />
    <rewrite>
      <rules>
        <rule name="ReverseProxyInboundRule1" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="http://localhost:7077/{R:1}" />
        </rule>
      </rules>
    </rewrite>
    <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>
